In [15]:
dataset = [['Burger' , 'Coke' , 'Fries','Pasta'],
           ['Pizza' , 'Fries' , 'Sprite'],
           ['Noodles' , 'Water' , 'Coke', 'Sausages' ,'Hotdog']]

In [16]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [17]:
dataset

[['Burger', 'Coke', 'Fries', 'Pasta'],
 ['Pizza', 'Fries', 'Sprite'],
 ['Noodles', 'Water', 'Coke', 'Sausages', 'Hotdog']]

In [18]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [19]:
df = pd.DataFrame(te_ary ,columns=te.columns_)
df

   Burger   Coke  Fries  Hotdog  Noodles  Pasta  Pizza  Sausages  Sprite  Water
0    True   True   True   False    False   True  False     False   False  False
1   False  False   True   False    False  False   True     False    True  False
2   False   True  False    True     True  False  False      True   False   True

In [21]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df, min_support=0.03 ,use_colnames=True)
frequent_itemsets

     support                                  itemsets
0   0.333333                                  (Burger)
1   0.666667                                    (Coke)
2   0.666667                                   (Fries)
3   0.333333                                  (Hotdog)
4   0.333333                                 (Noodles)
5   0.333333                                   (Pasta)
6   0.333333                                   (Pizza)
7   0.333333                                (Sausages)
8   0.333333                                  (Sprite)
9   0.333333                                   (Water)
10  0.333333                            (Coke, Burger)
11  0.333333                           (Burger, Fries)
12  0.333333                           (Pasta, Burger)
13  0.333333                             (Coke, Fries)
14  0.333333                            (Coke, Hotdog)
15  0.333333                           (Coke, Noodles)
16  0.333333                             (Coke, Pasta)
17  0.333333                          (Coke, Sausages)
18  0.333333                             (Coke, Water)
19  0.333333                            (Pasta, Fries)
20  0.333333                            (Pizza, Fries)
21  0.333333                           (Sprite, Fries)
22  0.333333                         (Noodles, Hotdog)
23  0.333333                        (Hotdog, Sausages)
24  0.333333                           (Hotdog, Water)
25  0.333333                       (Noodles, Sausages)
26  0.333333                          (Noodles, Water)
27  0.333333                           (Sprite, Pizza)
28  0.333333                         (Sausages, Water)
29  0.333333                     (Coke, Burger, Fries)
30  0.333333                     (Coke, Pasta, Burger)
31  0.333333                    (Pasta, Burger, Fries)
32  0.333333                      (Coke, Pasta, Fries)
33  0.333333                   (Coke, Noodles, Hotdog)
34  0.333333                  (Coke, Hotdog, Sausages)
35  0.333333                     (Coke, Hotdog, Water)
36  0.333333                 (Coke, Noodles, Sausages)
37  0.333333                    (Coke, Noodles, Water)
38  0.333333                   (Coke, Sausages, Water)
39  0.333333                    (Sprite, Pizza, Fries)
40  0.333333               (Noodles, Hotdog, Sausages)
41  0.333333                  (Noodles, Hotdog, Water)
42  0.333333                 (Sausages, Hotdog, Water)
43  0.333333                (Sausages, Noodles, Water)
44  0.333333              (Coke, Pasta, Burger, Fries)
45  0.333333         (Coke, Noodles, Hotdog, Sausages)
46  0.333333            (Coke, Noodles, Hotdog, Water)
47  0.333333           (Coke, Sausages, Hotdog, Water)
48  0.333333          (Coke, Noodles, Water, Sausages)
49  0.333333        (Sausages, Noodles, Hotdog, Water)
50  0.333333  (Noodles, Coke, Sausages, Water, Hotdog)

In [22]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets, metric = "confidence" , min_threshold=0.05)
res

    antecedents                         consequents  ...  leverage  conviction
0        (Coke)                            (Burger)  ...  0.111111    1.333333
1      (Burger)                              (Coke)  ...  0.111111         inf
2      (Burger)                             (Fries)  ...  0.111111         inf
3       (Fries)                            (Burger)  ...  0.111111    1.333333
4       (Pasta)                            (Burger)  ...  0.222222         inf
..          ...                                 ...  ...       ...         ...
237   (Noodles)     (Coke, Water, Hotdog, Sausages)  ...  0.222222         inf
238      (Coke)  (Water, Noodles, Hotdog, Sausages)  ...  0.111111    1.333333
239  (Sausages)      (Coke, Noodles, Hotdog, Water)  ...  0.222222         inf
240     (Water)   (Coke, Noodles, Hotdog, Sausages)  ...  0.222222         inf
241    (Hotdog)    (Coke, Water, Noodles, Sausages)  ...  0.222222         inf

[242 rows x 9 columns]

In [23]:
res1 = res[['antecedents','consequents','support', 'confidence','lift']]
res1

    antecedents                         consequents   support  confidence  lift
0        (Coke)                            (Burger)  0.333333         0.5   1.5
1      (Burger)                              (Coke)  0.333333         1.0   1.5
2      (Burger)                             (Fries)  0.333333         1.0   1.5
3       (Fries)                            (Burger)  0.333333         0.5   1.5
4       (Pasta)                            (Burger)  0.333333         1.0   3.0
..          ...                                 ...       ...         ...   ...
237   (Noodles)     (Coke, Water, Hotdog, Sausages)  0.333333         1.0   3.0
238      (Coke)  (Water, Noodles, Hotdog, Sausages)  0.333333         0.5   1.5
239  (Sausages)      (Coke, Noodles, Hotdog, Water)  0.333333         1.0   3.0
240     (Water)   (Coke, Noodles, Hotdog, Sausages)  0.333333         1.0   3.0
241    (Hotdog)    (Coke, Water, Noodles, Sausages)  0.333333         1.0   3.0

[242 rows x 5 columns]

In [25]:
res2= res1[res1['confidence']>=1]
res2

         antecedents                        consequents  ...  confidence  lift
1           (Burger)                             (Coke)  ...         1.0   1.5
2           (Burger)                            (Fries)  ...         1.0   1.5
4            (Pasta)                           (Burger)  ...         1.0   3.0
5           (Burger)                            (Pasta)  ...         1.0   3.0
9           (Hotdog)                             (Coke)  ...         1.0   1.5
..               ...                                ...  ...         ...   ...
236  (Hotdog, Water)          (Coke, Noodles, Sausages)  ...         1.0   3.0
237        (Noodles)    (Coke, Water, Hotdog, Sausages)  ...         1.0   3.0
239       (Sausages)     (Coke, Noodles, Hotdog, Water)  ...         1.0   3.0
240          (Water)  (Coke, Noodles, Hotdog, Sausages)  ...         1.0   3.0
241         (Hotdog)   (Coke, Water, Noodles, Sausages)  ...         1.0   3.0

[210 rows x 5 columns]

In [26]:
res3= res2[res2['lift']>=3]
res3

         antecedents                        consequents  ...  confidence  lift
4            (Pasta)                           (Burger)  ...         1.0   3.0
5           (Burger)                            (Pasta)  ...         1.0   3.0
24         (Noodles)                           (Hotdog)  ...         1.0   3.0
25          (Hotdog)                          (Noodles)  ...         1.0   3.0
26          (Hotdog)                         (Sausages)  ...         1.0   3.0
..               ...                                ...  ...         ...   ...
236  (Hotdog, Water)          (Coke, Noodles, Sausages)  ...         1.0   3.0
237        (Noodles)    (Coke, Water, Hotdog, Sausages)  ...         1.0   3.0
239       (Sausages)     (Coke, Noodles, Hotdog, Water)  ...         1.0   3.0
240          (Water)  (Coke, Noodles, Hotdog, Sausages)  ...         1.0   3.0
241         (Hotdog)   (Coke, Water, Noodles, Sausages)  ...         1.0   3.0

[180 rows x 5 columns]